{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [],
  "compact": false,
  "loaders": [{ "exclude": " /node_modules/", "loader": "babel-loader" }]
}
